// FONTS
$font-heading: 'Lobster', sans-serif;
$font-text: 'Open Sans', sans-serif;

// COLORS
$black-color: #141517;
$gray-color: #EAEAE9;
$yellow-color: #fceabb;
$orange-color: #f8b500;
$text-color: #FAFAFA;
$purple-color: #451a5f;

// SPACING
$general-gap: 3.2rem;