@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.hashtag {
  padding-top: calc( v.$general-gap * 5 );
  border-bottom: 5px solid v.$yellow-color;
  
  &__wave {
    margin-bottom: -40rem;
    transform: rotate(180deg);
  }

  &__section {
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 4.8rem;
  }

  &__title {
    text-align: center;
    font-size: 6.4rem;
    margin-bottom: 3.2rem;
  }

  &__text,
  &__hash {
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    line-height: 2;
    width: 60%;

    @include m.responsiveDesign( tab-port ) {
      width: 80%;
    }

    span {
      font-weight: bold;
      color: v.$orange-color;
    }
  }

  &__hash {
    font-size: 6.4rem;
    font-family: v.$font-heading;
    padding: 6.4rem 0;
  }

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    color: #fff;
    font-size: 6.4rem;
    margin-right: 2.4rem;
    transition: all .4s ease-out;
    cursor: pointer;

    &:hover {
      color: v.$orange-color;
    }
  }

} 