@use '../abstracts/variables' as v;

.promo {
  padding: 5rem;
  display: flex;
  justify-content: center;
  
  &__info {
    width: 100%;
    text-align: center;
  }

  &__title {
    width: 100%;
    color: v.$gray-color;
  }
}