@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.ticket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc( v.$general-gap * 5 ) 0;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 5px solid v.$yellow-color;

  &__container {
    width: 80rem;
    max-width: 90%;
    height: 45rem;
    margin: 0 auto;
    position: relative;
    transition: all .4s ease;
    margin-bottom: 4.8rem;
    
    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    color: v.$gray-color;
    font-size: 3.2rem;
    padding-bottom: 3px;
    border-bottom: 3px solid currentColor;
    margin-bottom: 4.8rem;
  }

  &__border {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.2rem;
    z-index: 2;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: v.$black-color;
  }

  &__name {
    font-family: v.$font-heading;
    font-size: 6.4rem;
    text-align: center;

    @include m.responsiveDesign( phone ) {
      font-size: 4.8rem;
    }
  }
  
  &__number {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    font-weight: bolder;
    font-size: 8rem;
    margin: v.$general-gap;
    
    span {
      display: block;
      text-transform: uppercase;
      font-size: 3.2rem;
    }

    @include m.responsiveDesign( phone ) {
      margin-top: -5px;
    }

  }

  &__text {
    text-align: center;
    font-size: 2rem;
  }
}