@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.slider {
  max-width: 80%;
  padding: calc( v.$general-gap * 2 ) 0;

  @include m.responsiveDesign( tab-port ) {
    max-width: 90%;
  }
}